name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - run: rustup update
    - run: cargo update
    - run: cargo fmt --all -- --check
    - run: cargo clippy --all-targets
    - run: cargo build --verbose
    - run: cargo test --verbose
